[Unit]
Wants=docker.service
After=docker.service
 
[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/docker start sds
ExecStop=/usr/bin/docker stop sds
 
[Install]
WantedBy=multi-user.target
