[Unit]
Wants=docker.service
After=docker.service
 
[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/docker start dkvpn
ExecStop=/usr/bin/docker stop dkvpn
 
[Install]
WantedBy=multi-user.target
